name: Linter and Formatter Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Cache uv
        id: cache-uv
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: uv-${{ runner.os }}-${{ hashFiles('**/pyproject.toml') }}

      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Set up Python
        id: setup-python
        run: uv python install 3.12

      - name: Install dependencies
        id: install-dependencies
        run: uv sync --dev --extra dev

      - name: Run Ruff analysis
        id: run-ruff-analysis
        run: uv run ruff check . --no-fix

      - name: Check code formatting
        id: check-code-formatting
        run: uv run ruff format --check .

      - name: Check for outdated dependencies
        id: check-outdated-dependencies
        run: uv lock --check

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Cache uv
        id: cache-uv
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: uv-${{ runner.os }}-${{ hashFiles('**/pyproject.toml') }}

      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Set up Python
        id: setup-python
        run: uv python install 3.12

      - name: Install dependencies
        id: install-dependencies
        run: uv sync --dev --extra dev

      - name: Run unit tests with coverage
        id: run-unit-tests
        run: uv run pytest --cov=src --cov-report=xml --cov-fail-under=75 -s -v

      - name: Upload coverage to Codecov
        id: upload-coverage
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
